@font-face {
    font-family: "Burbank Big Condensed"; 
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot"); 
    src: url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.woff") format("woff"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/cdc8c3de1e6bd5a9a67c6a001f9fedd0.svg#Burbank Big Condensed") format("svg"); 
}


.discord {
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: 10px;

    border: #001b7c 10px solid;
    border-radius: 30px;
    color:#1E2124;
    background-color: #000b35;
    transition: background-color 1s;
    font-size: 2em;
    color: white;
}



.discord:hover {
    font-size: 2em;
    background-color: white;
    color: #1E2124;
}

body {
    background-color: rgb(7, 0, 71);
    background-image: linear-gradient(to left, rgb(17, 0, 49), rgb(0, 0, 0));
    text-align: center;
    font-family: "Burbank Big Condensed", serif;
    color: white;
    
}
h1{
    font-size: 5em;
}
h2 {
    font-size: 3.2em;
    background-color: rgb(4, 0, 61);
    width: 700px;
    border: white solid 10px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}

h3 {
    font-size: 3em;
}




img {
    margin: 10px auto;
    display: block;
    width: 100%;
    max-width: 600px;
}
